<!doctype html>
<html lang="en">
  <head>

    <!-- General Settings -->
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en-us">
    <base href="<%baseUrl%>" />

    <!-- Meta Tags -->
    <title><%title%> | <%appName%></title>
    <meta name="description" content="<%appDescription%>">

    <!-- Static Assets -->
    <link type="image/x-icon" rel="icon" href="favicon.ico">
    <!-- <script type="text/javascript" charset="utf-8" src="/app.js"></script> -->
    <!-- <link rel="stylesheet" type="text/css" href="/app.css" /> -->

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  </head>
  <body class="<%bodyClass%>">
    <!-- Page Wrapper -->
    <div class="wrapper">
      <!-- Header -->
      <div class="header">
        <!-- Logo -->
        <a class="logo" href="/">
          <img src="/logo.png" alt="Logo" />
        </a>
        <!-- Navigation -->
        <ul class="menu">
          <li>
            <a href="/">Home</a>
          </li>
          <li class="loggedOut">
            <a href="/account/create">Signup</a>
          </li>
          <li class="loggedOut">
            <a href="/session/create">Login</a>
          </li>
          <li class="loggedIn">
            <a href="/checks/all">Dashboard</a>
          </li>
          <li class="loggedIn">
            <a href="/account/edit">Account Settings</a>
          </li>
          <li class="loggedIn">
            <a href="#" id="logoutButton">Logout</a>
          </li>
        </ul>

        <div class="clear"></div>
      </div>

      <!-- Page-Specific Content -->
      <div class="content">
        <%content%>
      </div>

      <!-- Footer -->
      <div class="footer">
        <div class="copyright">Copyright <%copyRightYear%> <%companyName%> | All Rights Reserved</div>
      </div>
    </div>
  </body>
</html>
