<div class="row">
  <div class="col">
    <a href="/menu" class="btn btn-primary btn-primary-outlined btn-block btn-lg">
      Order
    </a>
  </div>
</div>

<div class="row justify-content-center mt-5">
  <div class="col-12">
    <h3 class="text-center">Order History</h3>
    <div id="order-history-container" class="w-100">
      <div class="border shadow p-3 mb-5 bg-white rounded text-center">
        No order history.
      </div>
    </div>
  </div>
</div>

<script src="/dashboard.js"></script>
